<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761849461795-4vgqlnssniceejcok9vogvdop5dqq1bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761849461795-4vgqlnssniceejcok9vogvdop5dqq1bn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761849461795-08b8ed1lgp82443i87erbvg3hli9ceu9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDr7fF7Y6ssAyFeuplNqmD6gtklLmUmuA</string>
	<key>GCM_SENDER_ID</key>
	<string>761849461795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcc.navasankalp</string>
	<key>PROJECT_ID</key>
	<string>navasankalp-dd551</string>
	<key>STORAGE_BUCKET</key>
	<string>navasankalp-dd551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761849461795:ios:e0c6fc42a92d4e2da48596</string>
</dict>
</plist>